textarea {
  display: block;
  margin: 5px 8px;
}

.btn {
  margin: 5px 8px;
  padding: 3px 5px;
  background-color: green;
  color: white;
  display: inline-block;
  border-radius: 2px;
}

.btn:hover {
  cursor: pointer;
  background-color: darkgreen;
}
